<!DOCTYPE html>
<head>
    <title>Formulaire TP6</title>
</head>
<body>
    {% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
    {% endfor %}
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label>Numéro de compte</label>
        <select name="account">
            {% for account in accounts %}
            <option value="{{ account }}">{{ account }}</option>
            {% endfor %}
        </select>
        <br/>
        <label>Montant du dépôt</label>
        <input type="number" name="amount" required>
        <br/>
        <button type="submit" formaction="{{ url_for('envoi') }}">Envoyer</button>
        <button type="reset">Reset</button>
    </form>
</body>
</html>